spring:
  datasource:
    url: ${DATABASE_URL}
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: false

cors:
  allowed-origins: ${CORS_ALLOWED_ORIGINS:https://faisalhanafi.com,https://www.faisalhanafi.com}

logging:
  level:
    com.faisal.portfolio: INFO

server:
  port: ${PORT:8080}
