server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/portfolio
    driver-class-name: org.postgresql.Driver
    username: portfolio
    password: portfolio_dev_2025
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    defer-datasource-initialization: true
  sql:
    init:
      mode: always

logging:
  level:
    dev.faisal.portfolio: DEBUG
